/*
* 聚会详情
*/
@import "../variables";
.party-detail-page {
	background-color: @white;
	.party-detail {
		padding: 20px;
		.title {

		}
		.time {
			font-size: @fontSizeExtraSmall;
		}
		.address {
			font-size: @fontSizeExtraSmall;
			.map {
				img {
					width: 100%;
					height: 200px;
				}
			}
		}
		.photo {
			img {
				width: 100%;
				min-height: 300px;
			}
		}
		.content {
			font-size: @fontSizeSmall;
		}
		.participants {

		}
	}
	.comments-list {
		padding-top: 30px;
		background-color: #eeeeee;
		.add-comment {
			margin: 0 20px;
			text-align: right;
			.comment-input {
				width: 88% !important;
			}
		}
	}

	// 适应小屏幕
	@media screen and (max-width: 960px) {
		.comments-list {
			.add-comment {
				.comment-input {
					width: 100%!important;
				}
			}
		}
	}
}