/*
* 框架样式
*/
@import "../variables.less";
.app-top-bar {
	.app-bar {
		.site-title {
			text-align: center;
			display: block;
			line-height: 64px;
			font-size: @fontSizeBig;
			color: @white;
		}
	}

	// 登录用户的信息
	.user-info {
		padding-left: 20px;
		margin-top: 10px;
		.username, .avatar {
			display: inline-block;
			vertical-align: middle;
		}
		.username {
			font-size: @fontSizeSmall;
			color: @blue;
			margin-left: 10px;
		}
	}
}