html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.app-top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.party-card {
  margin-top: 20px;
}