//@dev:                'http://127.0.0.1:3101/zz-static/@{version}';//--global-var=version=10
//@sit:                'http://sit.static.pintu360.com/zz-static/@{version}';
//@uat:                'http://static.pintu360.com/uat/zz-static/@{version}';
//@prd:                'http://static.pintu360.com/zz-static/@{version}';
//@staticDomain:  `"@{ENV}" == 'dev' ? @{dev} : ("@{ENV}" == 'sit' ? @{sit} : ("@{ENV}" == 'uat' ? @{uat} : ("@{ENV}" == 'prd' ? @{prd} : @{dev})))`; //根据less命令行参数选择staticDomain的全局变量, --global-var=ENV=dev

/*-------------------
      Site Colors
--------------------*/

/*---  Colors  ---*/
@blue: #00bcd4;
@white: #fff;
@grayLighter: #eee;
@grayLight: #ccc;
@gray: #aaa;
@grayDark: #777;
@grayDarker: #555;
@black: #000;
@blackLight: #333;
@borderColor: rgba(238, 238, 238, .5);

/*--- font-size (1rem = 16px)---*/
@fontSizeMicro: 0.8rem;
@fontSizeMini: 0.9rem;
@fontSizeExtraSmall: 1rem;
@fontSizeSmall: 1.1rem;
@fontSizeNormal: 1.2rem;
@fontSizeBig: 1.5rem;
@fontSizeBigger: 2rem;
@fontSizeMax: 48px;

/*-- img ---*/

